body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0 20px;
  line-height: 1.6;
}

header {
  text-align: center;
  padding: 40px 0;
  background: linear-gradient(to right, #2e828b, #8BE8CB);
  color: white;
}

.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 15px;
  background-color: #f4f4f4;
  color: #4e54c8;
  text-decoration: none;
  border-radius: 5px;
}

section {
  margin: 30px 0;
}

.skills span {
  display: inline-block;
  background-color: #2e828b;
  color: white;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 15px;
  font-size: 0.9em;
}

.skills-accordion-btn {
  background-color: #EFF1FF;
  color: #020AF5;
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  text-align: left;
  outline: none;
  margin-bottom: 5px;
  font-size: 1em;
  border-radius: 15px;
}

.skills-accordion-btn.active {
  background-color: #2e828b;
  color: white;
}

.accordion-btn {
  background-color: #EFF1FF;
  color: #020AF5;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  margin-bottom: 5px;
  font-size: 1em;
  border-radius: 5px;
}

.accordion-btn.active {
  background-color: #2e828b;
  color: white;
}

.panel {
  display: none;
  padding: 1px 10px;
  background-color: #f9f9f9;
  border-left: 3px solid #2e828b;
  margin-bottom: 10px;
}
